@charset "UTF-8";
.errorAll {
  font-family: "Arial", sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.errorContainer {
  text-align: left;
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.errorContainer h1 {
  font-size: 6rem;
  margin-bottom: 0rem;
  color: #203240;
}
.errorContainer p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
.errorContainer a {
  color: #3498db;
  text-decoration: none;
}
.errorContainer a:hover {
  text-decoration: underline;
}

.errorBtn {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 3px;
  background: #D2D2D2;
  text-decoration: none;
  font-size: 16px;
  color: #333;
}
.errorBtn:hover {
  background: #bebebe;
  transition: all 0.3s ease;
}
.errorBtn:hover p {
  color: black;
}

.settings {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.settings-sideBar {
  background: #FFF;
  width: 250px;
  position: relative;
}
.settings-sideBar .switchBtn {
  margin-top: 30px;
  padding: 10px;
}
.settings-sideBar .switchBtn:hover {
  background-color: #E2E2E2;
}
.settings-container {
  background: #f1f1f1;
  width: 100%;
  height: 100vh;
}
.settings .active {
  background-color: #ededed;
}

.block {
  background-color: #FFF;
  border-radius: 18px;
  padding: 30px 50px 30px 30px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 20px;
}

.friends-all {
  padding: 20px;
}
.friends-all .modal-all {
  text-align: center;
  margin-top: 50px;
}
.friends-all .modal-all .open-modal {
  background-color: #374754;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
}
.friends-all .modal-all .open-modal:hover {
  background-color: #232d35;
}
.friends-all .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.friends-all .modal .modal-content {
  background-color: #f1f1f1;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
}
.friends-all .modal .modal-content .close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.friends-all .modal .modal-content .close-button:hover, .friends-all .modal .modal-content .close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.friends-all .modal .modal-content h2 {
  margin-top: 0;
}
.friends-all .modal .modal-content input[type=text] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.friends-all .modal .modal-content ul {
  list-style-type: none;
  padding: 0;
}
.friends-all .modal .modal-content ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.friends-all .modal .modal-content ul li .pending-name {
  flex: 1;
}
.friends-all .modal .modal-content ul li button {
  margin-left: 10px;
  background-color: #3965ff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}
.friends-all .modal .modal-content ul li button:hover {
  background-color: #063dff;
}

h1 {
  color: #374754;
  padding-bottom: 10px;
}

h2 {
  color: #374754;
  margin-bottom: 10px;
  margin-top: 10px;
}

.friend-desc {
  border-bottom: 2px solid #C9C9C9;
  color: #374754;
  padding-bottom: 10px;
}

.friendsTop {
  color: #374754;
  margin-top: 5px;
  border-bottom: 2px solid #C9C9C9;
  padding-bottom: 10px;
  margin-left: 270px;
}

.friends-container {
  display: flex;
  justify-content: space-between;
}
.friends-container .friends-list {
  flex: 1;
  margin-right: 20px;
  max-height: 80vh;
  max-width: 80vw;
}
.friends-container .friends-list select {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #374754;
  border-radius: 5px;
}
.friends-container .friends-list .add-friend {
  background-color: #C9C9C9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.friends-container .friends-list .add-friend:hover {
  background-color: #b0b0b0;
}
.friends-container .friends-list ul {
  list-style-type: none;
  padding: 0;
}
.friends-container .friends-list ul li {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #D9D9D9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.friends-container .friends-list ul li:hover {
  background-color: #f3f3f3;
}
.friends-container .friends-list ul li .mini-profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.friends-container .friends-list ul li .friend-name {
  flex: 1;
  color: #374754;
  font-weight: bold;
}
.friends-container .friends-list ul li .friend-username {
  color: rgb(169, 168, 168);
  margin-left: auto;
}
.friends-container .friend-profile {
  flex: 2;
}
.friends-container .friend-profile h2 {
  color: #374754;
  margin-bottom: 10px;
}
.friends-container .friend-profile .friend-profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.friends-container .friend-profile #profile-details {
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.friends-container .friend-profile #profile-details p {
  color: #374754;
  margin: 10px 0;
}
.friends-container .friend-profile #profile-details button {
  background-color: #C9C9C9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 5px;
}
.friends-container .friend-profile #profile-details .remove-friend {
  background-color: #757ED1;
  margin-left: 0px !important;
}
.friends-container .friend-profile #profile-details .remove-friend:hover {
  background-color: #4f5ac4;
}

.friend-button {
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-left: 5px;
}

.accept-request {
  background-color: #28a745;
}

.reject-request {
  background-color: #dc3545;
}

.cancel-request {
  color: #374754;
}

.friend-button:hover {
  filter: brightness(0.8);
}

.profile-settings {
  padding: 20px;
}
.profile-settings h1 {
  color: #374754;
  padding-bottom: 10px;
}
.profile-settings p {
  border-bottom: 2px solid #C9C9C9;
  color: #374754;
  padding-bottom: 10px;
}
.profile-settings form {
  max-width: 600px;
}
.profile-settings form .formgroup1, .profile-settings form .formgroup2 {
  display: flex;
}
.profile-settings form .form-group, .profile-settings form .form-group1, .profile-settings form .form-group2 {
  margin-bottom: 20px;
}
.profile-settings form .form-group label, .profile-settings form .form-group1 label, .profile-settings form .form-group2 label {
  margin-top: 15px;
  margin-bottom: 5px;
  display: block;
  color: #374754;
}
.profile-settings form .form-group input[type=text], .profile-settings form .form-group input[type=email], .profile-settings form .form-group1 input[type=text], .profile-settings form .form-group1 input[type=email], .profile-settings form .form-group2 input[type=text], .profile-settings form .form-group2 input[type=email] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.profile-settings form .checkbox-group {
  display: flex;
  flex-wrap: wrap;
}
.profile-settings form .checkbox-group label {
  margin-right: 200px;
  color: #374754;
}
.profile-settings form button {
  background-color: #C9C9C9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.profile-settings form button:hover {
  background-color: #b0b0b0;
}

.dashboard {
  display: flex;
}
.dashboard-sideBar {
  background: #FFF;
  width: 250px;
  position: relative;
}
.dashboard-sideBar .switchBtn {
  margin-top: 30px;
  padding: 10px;
}
.dashboard-sideBar .switchBtn:hover {
  background-color: #E2E2E2;
}
.dashboard-sideBar__preview {
  width: 150px;
  height: 112px;
  margin: 50px auto;
  background: no-repeat;
  background-size: contain;
  transition: all 0.3s linear;
  position: relative;
  z-index: 1;
}
.dashboard-sideBar__preview:hover {
  transform: translate(50%, 10%) scale(1.8);
}
.dashboard-sideBar__preview img {
  width: 100%;
}
.dashboard-container {
  background: #f1f1f1;
  width: 100%;
  height: 100vh;
}
.dashboard .active {
  background-color: #ededed;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.title {
  padding: 40px 50px;
  font-size: 35px;
  border-bottom: 1.5px solid #C9C9C9;
}

.sub-title {
  border-bottom: 1px solid #C9C9C9;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.btn-primary {
  padding: 10px 15px;
  color: #fff;
  background-color: #3965ff;
  cursor: pointer;
  border: #C9C9C9 1px solid;
  border-radius: 8px;
  transition: all 0.4s linear;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.btn-primary:hover {
  transform: scale(1.05);
}

.btn-secondary {
  background-color: #324755;
  color: #fff;
  padding: 10px 20px;
  transition: all 0.3 linear;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.btn-secondary:hover {
  transform: scale(1.05);
}

.fw-600 {
  font-weight: 600;
}

.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 100px;
  width: 300px;
  z-index: 100;
  background-color: red;
  opacity: 0;
  animation-duration: 3s;
  /* text style */
  text-align: center;
  line-height: 100px;
  border-radius: 15px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*********************************************** 
                Drop down table
***********************************************/
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 35px;
  right: 25px;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-color: #bdbdbd transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #bdbdbd transparent;
  top: 23px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  background-color: white;
  border-radius: 18px;
  padding: 30px 50px 30px 30px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  font-size: 20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.box {
  width: 0;
  height: 0;
  border: 10px solid black;
  border-color: black transparent transparent transparent;
}

.back-home {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.statistics {
  padding: 1.5rem;
}
.statistics-top {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.statistics-mid {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.statistics-mid .icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.statistics-mid .geo {
  background-color: #BFE484;
}
.statistics-mid .feature {
  background-color: #B0E0F5;
}
.statistics-mid .image {
  background-color: #F6C793;
}
.statistics-bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.statistics-bottom .prviewImage {
  width: 670px;
  height: 450px;
  padding: 1.5rem;
}
.statistics-bottom .prviewImage #show-img {
  width: 402px;
  height: 402px;
  background: no-repeat;
  background-size: contain;
  margin: 0 auto;
}
.statistics-bottom .history {
  width: 500px;
}

.secondTitle {
  font-size: small;
  color: #646464;
}

.crop-dashboard {
  padding: 1.5rem;
  font-size: 1.5rem;
  position: relative;
}
.crop-dashboard .library {
  display: flex;
}
.crop-dashboard .library .cropped-image-table {
  background-color: #FFF;
  border-radius: 18px;
  padding: 30px 50px 30px 30px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  font-size: 20px;
  padding: 0;
  margin-top: 1.5rem;
  height: 65vh;
  width: 50vw;
  overflow: hidden;
}
.crop-dashboard .library .cropped-image-table .top-row,
.crop-dashboard .library .cropped-image-table .bottom-row {
  height: 50%;
  display: flex;
  transition: all 0.5s linear;
  margin: 0;
}
.crop-dashboard .library .cropped-image-table .top-row .card,
.crop-dashboard .library .cropped-image-table .bottom-row .card {
  height: 100%;
  width: 12.5vw;
  background-color: #fff;
  padding: 3px;
  transition: all 0.3s linear;
}
.crop-dashboard .library .cropped-image-table .top-row .card-container,
.crop-dashboard .library .cropped-image-table .bottom-row .card-container {
  width: 160px;
  margin: 1.5rem auto;
}
.crop-dashboard .library .cropped-image-table .top-row .card-detail,
.crop-dashboard .library .cropped-image-table .bottom-row .card-detail {
  font-size: medium;
  margin: 1rem 0;
}
.crop-dashboard .library .cropped-image-table .top-row .card .img,
.crop-dashboard .library .cropped-image-table .bottom-row .card .img {
  width: 160px;
  height: 160px;
  background-size: contain;
}
.crop-dashboard .library .cropped-image-table .top-row .card a,
.crop-dashboard .library .cropped-image-table .bottom-row .card a {
  color: #fff;
}
.crop-dashboard .library .cropped-image-table .top-row .card-active,
.crop-dashboard .library .cropped-image-table .bottom-row .card-active {
  background-color: #d1d1d1;
}
.crop-dashboard .library .cropped-image-table .top-row .card:hover,
.crop-dashboard .library .cropped-image-table .bottom-row .card:hover {
  background-color: #d1d1d1;
}
.crop-dashboard .library .cropped-image-table .top-row .card button,
.crop-dashboard .library .cropped-image-table .bottom-row .card button {
  border: 0;
  background-color: inherit;
}
.crop-dashboard .library .cropped-image-table .top-row .card button:hover,
.crop-dashboard .library .cropped-image-table .bottom-row .card button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.crop-dashboard .library .cropped-image-table .top-row .card {
  border-right: 1px solid #C9C9C9;
  border-bottom: 1px solid #C9C9C9;
}
.crop-dashboard .library .cropped-image-table .bottom-row .card {
  border-right: 1px solid #C9C9C9;
}
.crop-dashboard .library .page-switch {
  display: flex;
  width: 150px;
  margin: 1.5rem auto;
  justify-content: space-between;
}
.crop-dashboard .library .page-switch .page {
  height: 20px;
  width: 20px;
  background-color: #D9D9D9;
  border-radius: 10px;
}
.crop-dashboard .library .page-switch .active {
  background-color: #646464;
}
.crop-dashboard .library .modal {
  background-color: #FFF;
  border-radius: 18px;
  padding: 30px 50px 30px 30px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  font-size: 20px;
  margin: 20px;
  height: 65vh;
}
.crop-dashboard .library .modal-body {
  margin: 8vh auto;
}
.crop-dashboard .crop-img-btn {
  position: absolute;
  right: 100px;
  bottom: 1rem;
}
.crop-dashboard .crop-new-img-container {
  background-color: #FFF;
  border-radius: 18px;
  padding: 30px 50px 30px 30px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  font-size: 20px;
  width: 90vw;
  height: 90vh;
  margin: 50px auto;
  position: relative;
}
.crop-dashboard .crop-new-img-container .crop-image-area {
  height: 95%;
}
.crop-dashboard .crop-new-img-container .crop-image-area .cropSubmit {
  display: flex;
  height: 100%;
  margin: 2vh 4vw;
  justify-content: space-around;
}
.crop-dashboard .crop-new-img-container .crop-image-area .cropSubmit .form-left {
  display: flex;
  height: 100%;
}
.crop-dashboard .crop-new-img-container .crop-image-area .cropSubmit .form-left .y-axis-box {
  position: relative;
  width: 16px;
  padding: 0 1rem;
}
.crop-dashboard .crop-new-img-container .crop-image-area .cropSubmit .form-left .y-axis-box .y-axis {
  position: absolute;
  transform-origin: 0 50%;
  transform: rotate(90deg);
}
.crop-dashboard .crop-new-img-container .crop-image-area .cropSubmit .form-left .y-axis-box .y-axis div {
  transform: rotate(-90deg);
}
.crop-dashboard .crop-new-img-container .crop-image-area .cropSubmit .form-left .y-axis-box .y-axis p {
  position: absolute;
  top: 28%;
  right: 56%;
}
.crop-dashboard .crop-new-img-container .crop-image-area .cropSubmit .form-left .x-axis {
  width: 100%;
}
.crop-dashboard .crop-new-img-container .crop-image-area .cropSubmit .form-left .x-axis input {
  width: 100%;
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: var(--border);
  outline: none;
  padding: 0;
  margin: 0;
}
.crop-dashboard .crop-new-img-container .crop-image-area .cropSubmit .form-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.crop-dashboard .crop-new-img-container .crop-image-area .cropSubmit .form-right .zoom-in-out {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15vh;
}
.crop-dashboard .crop-new-img-container .crop-image-area .cropSubmit .form-right #preCanvas {
  height: 256px;
  width: 256px;
}
.crop-dashboard .crop-new-img-container .crop-img-close-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.hoverBG {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: #C9C9C9;
  opacity: 0;
  padding: 10px;
}

.img:hover .hoverBG {
  opacity: 1;
  background-color: rgba(201, 201, 201, 0.5);
}

.img-crop-btn {
  height: 100%;
}

.compare-operation {
  background-color: #FFF;
  border-radius: 18px;
  padding: 30px 50px 30px 30px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  font-size: 20px;
  background-color: #f1f1f1;
  margin: 5vh auto;
  height: 90vh;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
}
.compare-operation .compare-section-cross {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}
.compare-operation .compare-img-list {
  background-color: burlywood;
  width: 17.1vw;
  height: 100%;
  overflow-y: scroll;
}
.compare-operation .compare-img-list .compare-img {
  width: 16.2vw;
  aspect-ratio: 1/1;
  background-size: contain;
}
.compare-operation .compare-right,
.compare-operation .compare-left {
  background-color: rgba(153, 205, 50, 0.277);
  width: 38%;
  height: 100%;
  position: relative;
}
.compare-operation .compare-right-drop,
.compare-operation .compare-left-drop {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}
.compare-operation .compare-right-info,
.compare-operation .compare-left-info {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
.compare-operation .compare-right {
  background-color: rgba(218, 165, 32, 0.265);
  width: 38%;
  height: 100%;
  z-index: 1;
}
.compare-operation .comparing-card {
  height: 100%;
  width: 100%;
}
.compare-operation .comparing-card .comparing-img {
  height: 50%;
  aspect-ratio: 1/1;
  background-size: contain;
  margin: 10px auto;
  border-radius: 10px;
}
.compare-operation .comparing-card .comparing-detail {
  padding: 2vh 0;
  height: 50%;
  margin: 0 auto;
  aspect-ratio: 1/1;
}

.label-operation {
  background-color: #f1f1f1;
  margin: 5vh auto;
  height: 90vh;
  width: 90vw;
}
.label-operation .label-dashboard {
  display: flex;
}
.label-operation .label-dashboard .label-left {
  padding: 1.3rem;
}
.label-operation .label-dashboard .label-left .labels {
  position: relative;
}
.label-operation .label-dashboard .label-left .labels .image-zoom-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.label-operation .label-dashboard .label-left .labels .active {
  text-shadow: 2px 2px rgba(255, 0, 0, 0.5);
}
.label-operation .label-dashboard .label-left .label-left__labeling_and_zoom {
  position: relative;
}
.label-operation .label-dashboard .label-left .label-left__labeling_and_zoom .zoom-img .img-zoom-lens {
  position: absolute;
  border: 1px solid #585858;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}
.label-operation .label-dashboard .label-left .label-left__labeling_and_zoom .zoom-img #image-zoom {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 50vh;
  height: 50vh;
}
.label-operation .label-dashboard .label-left .label-left__labeling_and_zoom .labeling-img {
  position: relative;
  z-index: 1;
}
.label-operation .label-dashboard .label-left .label-left__labeling_and_zoom .labeling-img #segCanvas {
  width: 50vh;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.label-operation .label-dashboard .statistics-top {
  display: flex;
}
.label-operation .label-dashboard .statistics-top__original_crop_image {
  width: 26vw;
  height: 37vh;
  margin: 10px;
  padding: 10px;
  position: relative;
}
.label-operation .label-dashboard .statistics-top__original_crop_image .img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 28vh;
  height: 28vh;
  margin: 1.4rem;
}
.label-operation .label-dashboard .statistics-top__original_crop_image .zoomin {
  position: absolute;
  top: 6rem;
  right: 4rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.label-operation .label-dashboard .statistics-top__original_crop_image .zoomin:hover {
  transform: scale(1.1);
}
.label-operation .label-dashboard .statistics-top__original_crop_image .zoomout {
  position: absolute;
  top: 13rem;
  right: 4rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.label-operation .label-dashboard .statistics-top__original_crop_image .zoomout:hover {
  transform: scale(1.1);
}
.label-operation .label-dashboard .statistics-top__statistics_chart {
  display: flex;
  position: relative;
  width: 26vw;
  height: 37vh;
}
.label-operation .label-dashboard .statistics-top__statistics_chart .label-statistics {
  width: 26vw;
  height: 37vh;
  margin: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.label-operation .label-dashboard .statistics-top__statistics_chart .fa-chart-pie {
  position: absolute;
  top: 25px;
  right: 4px;
  z-index: 3;
  cursor: pointer;
}
.label-operation .label-dashboard .statistics-top__statistics_chart .fa-chart-simple {
  position: absolute;
  top: 25px;
  right: 35px;
  z-index: 3;
  cursor: pointer;
}
.label-operation .label-dashboard .statistics-top__statistics_chart .active {
  text-shadow: 2px 2px rgba(255, 0, 0, 0.5);
}
.label-operation .label-dashboard .operation-bot {
  display: flex;
  height: 26vh;
}
.label-operation .label-dashboard .operation-bot .setting-save {
  width: 26vw;
  height: 100%;
  margin: 10px;
  position: relative;
}
.label-operation .label-dashboard .operation-bot .auto-label-section {
  width: 26vw;
  height: 100%;
  margin: 10px;
  position: relative;
}
.label-operation .label-dashboard .operation-bot .auto-label-section .select-model {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
.label-operation .label-dashboard .close-label {
  position: absolute;
  right: 19px;
  bottom: 5px;
}

.save-label-section {
  display: none;
  position: absolute;
  right: 37%;
  z-index: 1001;
}
.save-label-section .save-training-cross {
  position: absolute;
  top: 25px;
  right: 32px;
}

.segment-dashboard {
  display: flex;
}
.segment-dashboard .segment-img-preview {
  background-color: #FFF;
  border-radius: 18px;
  padding: 30px 50px 30px 30px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  font-size: 20px;
  position: relative;
  height: 80vh;
  width: 80vw;
  margin: 50px auto;
  background-color: #fff;
}
.segment-dashboard .segment-img-preview .preview-image {
  width: 400px;
  display: block;
  margin: auto;
}
.segment-dashboard .segment-img-preview .preview-top-row,
.segment-dashboard .segment-img-preview .preview-bot-row {
  display: flex;
  justify-content: space-around;
}
.segment-dashboard .segment-img-preview .preview-top-row .preview-card-mult,
.segment-dashboard .segment-img-preview .preview-bot-row .preview-card-mult {
  padding: 10px;
  width: 100%;
  transition: all 0.3s linear;
}
.segment-dashboard .segment-img-preview .preview-top-row .preview-card-mult .preview-mult-image,
.segment-dashboard .segment-img-preview .preview-bot-row .preview-card-mult .preview-mult-image {
  width: 14vw;
  display: block;
  margin: auto;
}
.segment-dashboard .segment-img-preview .preview-top-row .preview-card-mult:hover,
.segment-dashboard .segment-img-preview .preview-bot-row .preview-card-mult:hover {
  background-color: #f1f1f1;
}
.segment-dashboard .segment-img-preview .mark-cancel-btn {
  position: absolute;
  right: 110px;
  bottom: 10px;
}
.segment-dashboard .segment-img-preview .mark-save-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.segment-dashboard .left-col {
  width: 30vw;
  overflow: hidden;
}
.segment-dashboard .left-col .algorithm-selector {
  margin: 2vh 3vw;
}
.segment-dashboard .left-col .setting {
  height: 60vh;
  position: relative;
  margin: 2vh 3vw;
}
.segment-dashboard .left-col .setting form {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 80%;
}
.segment-dashboard .left-col .setting form::-webkit-scrollbar {
  background-color: #f1f1f1;
  outline: 1px #fff;
  border-radius: 50px;
  width: 10px;
}
.segment-dashboard .left-col .setting form::-webkit-scrollbar-thumb {
  background: #d5d5d5;
  border: 1px solid #fff;
  border-radius: 10px;
}
.segment-dashboard .left-col .setting form::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}
.segment-dashboard .left-col .setting .rangeInput[type=number] {
  margin-top: 9px;
  display: block;
  border: 0;
  width: 50px;
}
.segment-dashboard .left-col .setting .algorithm-setting {
  width: 400%;
  display: flex;
  overflow: hidden;
}
.segment-dashboard .left-col .setting .algorithm-setting .alogrithm-block {
  width: 25%;
}
.segment-dashboard .left-col .setting .mark-boundary {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.segment-dashboard .right-col {
  width: 50vw;
  position: relative;
}
.segment-dashboard .right-col .no-segment-yet {
  position: absolute;
  z-index: 1;
  font-size: 48px;
  color: #C9C9C9;
  top: 43%;
  left: 20%;
}
.segment-dashboard .right-col .boundary-img-gallery {
  margin: 2vh 3vw;
  height: 88%;
  position: relative;
}
.segment-dashboard .right-col .boundary-img-gallery .boundary-img-gallery-title .compare-btn {
  position: absolute;
  top: 30px;
  right: 27px;
}
.segment-dashboard .right-col .boundary-img-gallery .seg-library {
  width: 100%;
}
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery {
  padding: 0;
  height: 90%;
  width: 42vw;
  overflow: hidden;
}
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .top-row,
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .bot-row {
  height: 50%;
  display: flex;
  transition: all 0.5s linear;
  margin-bottom: 15px;
}
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .top-row .seg-card,
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .bot-row .seg-card {
  background-color: #fff;
  padding: 0.21vw;
  transition: all 0.3s linear;
  font-size: 16px;
}
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .top-row .seg-card .seg-img,
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .bot-row .seg-card .seg-img {
  width: 10.08vw;
  height: 10.08vw;
  border-radius: 5px;
  background-size: contain;
}
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .top-row .seg-card .seg-img:hover .hoverBG,
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .bot-row .seg-card .seg-img:hover .hoverBG {
  opacity: 1;
  background-color: rgba(201, 201, 201, 0.5);
}
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .top-row .seg-card .seg-detail,
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .bot-row .seg-card .seg-detail {
  position: relative;
  height: 45px;
}
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .top-row .seg-card .seg-detail-name,
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .bot-row .seg-card .seg-detail-name {
  font-size: large;
  font-weight: 600;
}
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .top-row .seg-card .seg-detail-date,
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .bot-row .seg-card .seg-detail-date {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: small;
}
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .top-row .seg-card .seg-detail-hide-btn,
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .bot-row .seg-card .seg-detail-hide-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: small;
}
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .top-row .seg-card .seg-detail:hover .seg-detail-hide,
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .bot-row .seg-card .seg-detail:hover .seg-detail-hide {
  visibility: visible;
  opacity: 0.8;
  z-index: 100;
}
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .top-row .seg-card .seg-detail-hide-btn-icon,
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .bot-row .seg-card .seg-detail-hide-btn-icon {
  font-size: smaller;
  color: #7c7c7c;
}
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .top-row .seg-card .seg-detail-hide,
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .bot-row .seg-card .seg-detail-hide {
  visibility: hidden;
  opacity: 0;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  width: 10.08vw;
  height: 10.08vw;
  left: 0;
  top: -10.08vw;
  float: left;
  font-size: smaller;
  transition: all 0.3s linear;
  overflow-y: scroll;
}
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .top-row .seg-card .seg-detail-hide::-webkit-scrollbar,
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .bot-row .seg-card .seg-detail-hide::-webkit-scrollbar {
  background-color: var(--text-color);
  outline: 1px var(--text-color);
  border-radius: 50px;
  width: 5px;
}
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .top-row .seg-card .seg-detail-hide::-webkit-scrollbar-thumb,
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .bot-row .seg-card .seg-detail-hide::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #fff;
  border-radius: 10px;
}
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .top-row .seg-card .seg-detail-hide::-webkit-scrollbar-track,
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .bot-row .seg-card .seg-detail-hide::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .top-row .seg-card .seg-detail-hide .reverse-setting-btn,
.segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .bot-row .seg-card .seg-detail-hide .reverse-setting-btn {
  margin-top: 0.3rem;
}
.segment-dashboard .right-col .page-switch-arrow {
  display: flex;
}
.segment-dashboard .right-col .page-switch-arrow .page-switch-arrow-btn {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #fff;
  text-align: center;
  line-height: 34px;
  transition: all 0.3s linear;
  cursor: pointer;
}
.segment-dashboard .right-col .page-switch-arrow .page-switch-arrow-btn:hover {
  background-color: #b2b2b2;
  transform: scale(1.2);
}
.segment-dashboard .right-col .page-switch-arrow .arrow-left {
  position: absolute;
  top: 50%;
}
.segment-dashboard .right-col .page-switch-arrow .arrow-right {
  position: absolute;
  top: 50%;
  right: 0;
}

.homepage header {
  z-index: 1;
  width: 100%;
  padding: 0.5rem;
  background-color: #374754;
}

.logo {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: x-large;
  z-index: 3;
}
.logo img {
  width: 6rem;
  padding-left: 2rem;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 1rem;
  top: 1.5rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(360deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
  z-index: 2;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #374754;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav__item.open {
  transform: translateX(0);
}
.nav .menu-nav__item.active > a {
  color: white;
}
.nav .menu-nav__link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  color: #C9C9C9;
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav__link:hover {
  color: white;
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

.menu-nav__item:nth-child(5) {
  transition-delay: 0.65s;
}

.menu-nav__item:nth-child(6) {
  transition-delay: 0.75s;
}

.menu-nav__item:nth-child(7) {
  transition-delay: 0.85s;
}

/* footer design */
footer {
  background-color: #374754;
  color: white;
  padding: 20px 0;
  width: 100%;
  bottom: 0;
  min-height: 60px;
  position: relative;
  margin-top: auto;
}
footer .footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
}
footer .footerLeft {
  display: flex;
  align-items: center;
}
footer .footerLeft a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}
footer .footerLeft img {
  margin-left: 10px;
  width: 20px;
  height: auto;
}
footer .footerRight {
  display: flex;
  align-items: center;
}
footer .footerRight a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
footer .footerBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  flex-wrap: wrap;
}
footer .footerBottom p {
  margin: 0;
  font-size: 0.9em;
}
footer .footerBottom a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.help-page {
  display: flex;
  width: 100%;
  color: #000;
}
.help-page img {
  max-width: 60vw;
}
.help-page .main {
  width: 80%;
}
.help-page .sidebar {
  position: sticky;
  top: 98px;
  align-self: flex-start;
}
.help-page .sidebar li.active > a {
  color: #333;
  font-weight: 500;
}
.help-page .sidebar a {
  text-decoration: none;
  display: block;
  padding: 0.125rem 0;
  color: #ccc;
  transition: all 50ms ease-in-out;
  /* 💡 This small transition makes setting of the active state smooth */
}
.help-page .sidebar a:hover, .help-page .sidebar a:focus {
  color: #666;
}

.homepage-about {
  font-family: "Nunito", sans-serif;
}
.homepage-about__show {
  height: 50vh;
  width: 100%;
  background: url("/static/images/homepage_images/about_show.png") no-repeat center center/cover;
}
.homepage-about__show-herotitle {
  height: 100%;
  padding: 17vh 0vw;
  font-size: 2rem;
  color: #f0f0f0;
}
.homepage-about__product h2 {
  text-align: center;
  padding: 2rem;
}
.homepage-about__product .product_intro {
  display: flex;
  justify-content: space-evenly;
  padding: 4rem 2rem 8rem;
}
.homepage-about__product .product_intro .step {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 20%;
}
.homepage-about__product .product_intro .step .detail {
  text-align: left;
}
.homepage-about__team {
  background-color: #D9D9D9;
}
.homepage-about__team h2 {
  padding: 2rem;
  text-align: center;
}
.homepage-about__team-cards {
  display: flex;
  justify-content: space-around;
}
.homepage-about__team-card {
  margin: 5rem;
  height: 20rem;
  width: 24rem;
  border-radius: 1rem;
}
.homepage-about__team-card-image img {
  width: 10rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  cursor: pointer;
}
.homepage-about__team-card .detail__personal-info {
  margin: 1rem 0;
}
.homepage-about__team-card .detail .btn {
  color: #818181;
  cursor: pointer;
}
.homepage-about__team-card .detail .btn:hover {
  color: #4f4f4f;
}
.homepage-about__team-card .detail .btn:hover path {
  fill: #4f4f4f;
}
.homepage-about__team-card .detail .btn path {
  fill: #818181;
}
.homepage-about__team-card .detail .name {
  font-weight: 800;
  cursor: pointer;
}
.homepage-about__team-card .detail .email {
  color: rgb(28, 145, 255);
  cursor: pointer;
}
.homepage-about__team-card .detail .email:hover {
  text-decoration: underline;
}
.homepage-about__team-card .detail .social-media i {
  border-radius: 100%;
  background-color: rgb(242, 242, 242);
  color: rgb(178, 178, 178);
  margin: 0.2rem;
}
.homepage-about__team-card .detail .info {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(148, 148, 148, 0.589);
}
.homepage-about__team-card .detail .info-card {
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  width: 50vw;
  height: 50vh;
  margin: 25vh auto;
  overflow: hidden;
  position: relative;
}
.homepage-about__team-card .detail .info-card .close {
  position: absolute;
  width: 1rem;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.homepage-about__team-card .detail .info-card .image {
  width: 50%;
  overflow: hidden;
}
.homepage-about__team-card .detail .info-card .image img {
  height: 100%;
}
.homepage-about__team-card .detail .info-card .description {
  width: 50%;
  padding: 1.5rem;
}
.homepage-about__team-card .detail .info-card .description .readme {
  margin-top: 2rem;
}
.homepage-about__team-card .detail .active {
  display: block;
}

.headerContact {
  background: url("/static/images/homepage_images/DMS_1604309_10159_20160422_00284468.png") no-repeat center center/cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  color: white;
  text-align: center;
  background-color: #F7F9FC;
  z-index: 1;
}

/* .contactMain {
    text-align: center;
    margin: 0px 70px 0px 70px;
}
*/
main {
  display: flex;
  justify-content: center;
  padding: 20px;
}
main .contactMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
main .contactMain .contactColumn {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: white;
}
main .contactMain .contactColumn h2 {
  margin-top: 0;
}
main .contactMain .contactColumn form {
  display: flex;
  flex-direction: column;
}
main .contactMain .contactColumn form label {
  margin-top: 10px;
}
main .contactMain .contactColumn form input,
main .contactMain .contactColumn form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
main .contactMain .contactColumn form button {
  padding: 10px;
  background-color: #e6cc00;
  color: black;
  border: none;
  cursor: pointer;
}
main .contactMain .contactColumn form button:hover {
  background-color: #e6bc40;
}

.homepage_home {
  background: linear-gradient(to bottom right, #000, #666, #fff);
}
.homepage_home .header {
  height: 60vh;
  display: flex;
  justify-content: left;
  padding-top: 20vh;
  padding-left: 30vh;
  align-items: left;
  color: white;
  text-align: left;
  position: relative;
}
.homepage_home .header-content {
  z-index: 1;
}
.homepage_home .header-content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px black;
}
.homepage_home .header-content button {
  padding: 10px 20px;
  background-color: #e6cc00;
  border: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;
}
.homepage_home .header-content button:hover {
  background-color: #e6bc40;
}
.homepage_home .header-carousel__items .active {
  opacity: 1;
}
.homepage_home .header-carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.homepage_home .header-carousel__btn {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  width: 26px;
  height: 69px;
  font-size: 30px;
  color: white;
  line-height: 69px;
  padding: 0 5px;
  z-index: 10;
  opacity: 0;
  top: 50%;
}
.homepage_home .header-carousel__btn-left {
  left: 0;
}
.homepage_home .header-carousel__btn-right {
  right: 0;
}
.homepage_home .header-carousel__btn:hover {
  opacity: 1;
}
.homepage_home .header-carousel__pages {
  height: 20px;
  display: flex;
  position: absolute;
  bottom: 35px;
  right: 25px;
}
.homepage_home .header-carousel__pages .active {
  background: rgba(130, 130, 130, 0.9);
}
.homepage_home .header-carousel__page {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: rgba(130, 130, 130, 0.4);
  cursor: pointer;
  margin: 8px;
}
.homepage_home .header-carousel__page:hover {
  background: rgba(130, 130, 130, 0.7);
}
.homepage_home .main .aboutHome {
  padding: 40px 20px;
  background-color: white;
}
.homepage_home .main .aboutHome .aboutHomeContainer {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.homepage_home .main .aboutHome .aboutHomeContainer .aboutColumn {
  flex: 1;
  padding: 20px;
  flex-wrap: wrap;
}
.homepage_home .main .aboutHome .aboutHomeContainer .aboutColumn h2,
.homepage_home .main .aboutHome .aboutHomeContainer .aboutColumn p {
  margin: 0 10px;
}
.homepage_home .main .aboutHome .aboutHomeContainer .aboutColumn h2 {
  margin-bottom: 20px;
  font-size: 2em;
  align-self: flex-end;
}
.homepage_home .main .aboutHome .aboutHomeContainer .aboutColumn h2 p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  align-self: center;
}
.homepage_home .main .aboutHome .aboutHomeContainer .aboutBtn {
  margin-top: 20px;
  align-self: flex-start;
  padding: 10px 20px;
  background-color: #e6cc00;
  border: none;
  color: black;
  font-size: 1em;
  cursor: pointer;
}
.homepage_home .main .aboutHome .aboutHomeContainer .aboutBtn:hover {
  background-color: #e6bc40;
}

.header-carousel__item:nth-child(1) {
  background: url("/static/images/homepage_images/DMS_1604309_10159_20160422_00284468.png") no-repeat center center/cover;
}

.header-carousel__item:nth-child(2) {
  background: url("/static/images/homepage_images/aia_20120602_195955_0193_image_lev1.png") no-repeat center center/cover;
}

.accntReg * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: #F7F9FC;
}

.accntReg {
  margin-top: 60px;
}
.accntReg .registerContainer {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
}
.accntReg .registerContainer h2 {
  margin-bottom: 20px;
  color: black;
}
.accntReg .registerContainer .form-group {
  display: flex;
  justify-content: space-between;
}
.accntReg .registerContainer .column {
  flex: 1;
  margin-right: 10px;
  margin-top: 10px;
}
.accntReg .registerContainer .column:last-child {
  margin-right: 0;
}
.accntReg .registerContainer label {
  margin-bottom: 5px;
  color: #555;
}
.accntReg .registerContainer input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.accntReg .registerContainer .createAccnt {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.accntReg .registerContainer .createAccnt:hover {
  background-color: #0056b3;
}

.headerPricing {
  background: url("/static/images/homepage_images/DMS_1604309_10159_20160422_00284468.png") no-repeat center center/cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  color: white;
  text-align: center;
  background-color: #F7F9FC;
  z-index: 1;
}

main {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 60vh;
}

.pricingMain {
  width: 80%;
  text-align: center;
}
.pricingMain h1 {
  margin-bottom: 20px;
}
.pricingMain .pricingPlans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 40vh;
}
.pricingMain .pricingPlans .plan {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  margin: 10px;
  flex: 1;
  max-width: 30%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.pricingMain .pricingPlans .plan h2 {
  margin-top: 0;
}
.pricingMain .pricingPlans .plan .price {
  font-size: 1.5em;
  margin: 10px 0;
}
.pricingMain .pricingPlans .plan ul {
  list-style: none;
  padding: 0;
}
.pricingMain .pricingPlans .plan ul li {
  padding: 5px 0;
}
.pricingMain .pricingPlans .plan button {
  padding: 10px;
  background-color: #e6cc00;
  color: black;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
.pricingMain .pricingPlans .plan button:hover {
  background-color: #e6bc40;
}

.download-bg .title {
  padding: 0;
  font-size: 24px;
}
.download-bg .download-window {
  background-color: #FFF;
  border-radius: 18px;
  padding: 30px 50px 30px 30px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  font-size: 20px;
  height: 400px;
  width: 400px;
  position: absolute;
  top: 24%;
  left: 36%;
}
.download-bg .download-window .closeBtn {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 10px;
}
.download-bg .form-object {
  padding: 12px;
}
.download-bg .btn-secondary {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.trainModel-bg .title {
  padding: 0;
  font-size: 24px;
}
.trainModel-bg .trainModel-window {
  background-color: #FFF;
  border-radius: 18px;
  padding: 30px 50px 30px 30px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  font-size: 20px;
  height: 296px;
  width: 400px;
  position: absolute;
  top: 24%;
  left: 36%;
}
.trainModel-bg .trainModel-window .closeBtn {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 10px;
}
.trainModel-bg .form-object {
  padding: 12px;
}
.trainModel-bg .btn-secondary {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

@media screen and (max-width: 1600px) {
  th {
    letter-spacing: 0;
  }
  #bot_container .filter_btns {
    display: flex;
  }
  .title {
    padding: 1rem;
  }
  .statistics-mid .block {
    border-radius: 18px;
    font-size: 0.9rem;
  }
  .statistics-bottom .prviewImage {
    width: 354px;
    height: 252px;
  }
  .statistics-bottom .prviewImage #show-img {
    height: 100%;
  }
  .crop-dashboard {
    padding: 1rem;
  }
  .crop-dashboard .library .cropped-image-table .top-row .card-container,
  .crop-dashboard .library .cropped-image-table .bottom-row .card-container {
    margin: 0.5rem auto;
    font-size: medium;
  }
  .crop-dashboard .library .cropped-image-table .top-row .card-container .img,
  .crop-dashboard .library .cropped-image-table .bottom-row .card-container .img {
    width: 123px;
    height: 123px;
    background: no-repeat top/contain;
    margin: 0 auto;
  }
  .crop-dashboard .crop-img-container .crop-img-btn {
    bottom: 1rem;
  }
  .segment-dashboard .left-col .setting .mark-boundary {
    bottom: 3px;
    right: 10px;
    font-size: small;
  }
  .segment-dashboard .right-col .no-segment-yet {
    font-size: 37px;
  }
  .segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .top-row .seg-card .seg-detail-hide,
  .segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .bot-row .seg-card .seg-detail-hide {
    font-size: 10px;
  }
  .segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .top-row .seg-card .seg-detail-name,
  .segment-dashboard .right-col .boundary-img-gallery .seg-library .Gallery .bot-row .seg-card .seg-detail-name {
    font-size: small;
    font-weight: 700;
  }
  .label-section .block {
    padding: 1rem;
  }
  .label-section .label-operation .title {
    padding: 0.5rem;
    font-size: 1rem;
  }
  .label-section .label-operation .label-dashboard .operation-bot {
    height: 29vh;
  }
  .label-section .label-operation .label-dashboard .operation-bot .auto-label-section .select-model {
    margin: 0;
  }
  .label-section #auto_label {
    font-size: medium;
  }
}
.errorAll {
  font-family: "Arial", sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.errorContainer {
  text-align: left;
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.errorContainer h1 {
  font-size: 6rem;
  margin-bottom: 0rem;
  color: #203240;
}
.errorContainer p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
.errorContainer a {
  color: #3498db;
  text-decoration: none;
}
.errorContainer a:hover {
  text-decoration: underline;
}

.errorBtn {
  padding: 10px 20px;
  display: inline-block;
  border-radius: 3px;
  background: #D2D2D2;
  text-decoration: none;
  font-size: 16px;
  color: #333;
}
.errorBtn:hover {
  background: #bebebe;
  transition: all 0.3s ease;
}
.errorBtn:hover p {
  color: black;
}

.settings {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.settings-sideBar {
  background: #FFF;
  width: 250px;
  position: relative;
}
.settings-sideBar .switchBtn {
  margin-top: 30px;
  padding: 10px;
}
.settings-sideBar .switchBtn:hover {
  background-color: #E2E2E2;
}
.settings-container {
  background: #f1f1f1;
  width: 100%;
  height: 100vh;
}
.settings .active {
  background-color: #ededed;
}

.friends-all {
  padding: 20px;
}
.friends-all .modal-all {
  text-align: center;
  margin-top: 50px;
}
.friends-all .modal-all .open-modal {
  background-color: #374754;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
}
.friends-all .modal-all .open-modal:hover {
  background-color: #232d35;
}
.friends-all .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.friends-all .modal .modal-content {
  background-color: #f1f1f1;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
}
.friends-all .modal .modal-content .close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.friends-all .modal .modal-content .close-button:hover, .friends-all .modal .modal-content .close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.friends-all .modal .modal-content h2 {
  margin-top: 0;
}
.friends-all .modal .modal-content input[type=text] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.friends-all .modal .modal-content ul {
  list-style-type: none;
  padding: 0;
}
.friends-all .modal .modal-content ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.friends-all .modal .modal-content ul li .pending-name {
  flex: 1;
}
.friends-all .modal .modal-content ul li button {
  margin-left: 10px;
  background-color: #3965ff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}
.friends-all .modal .modal-content ul li button:hover {
  background-color: #063dff;
}

h1 {
  color: #374754;
  padding-bottom: 10px;
}

h2 {
  color: #374754;
  margin-bottom: 10px;
  margin-top: 10px;
}

.friend-desc {
  border-bottom: 2px solid #C9C9C9;
  color: #374754;
  padding-bottom: 10px;
}

.friendsTop {
  color: #374754;
  margin-top: 5px;
  border-bottom: 2px solid #C9C9C9;
  padding-bottom: 10px;
  margin-left: 270px;
}

.friends-container {
  display: flex;
  justify-content: space-between;
}
.friends-container .friends-list {
  flex: 1;
  margin-right: 20px;
  max-height: 80vh;
  max-width: 80vw;
}
.friends-container .friends-list select {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #374754;
  border-radius: 5px;
}
.friends-container .friends-list .add-friend {
  background-color: #C9C9C9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.friends-container .friends-list .add-friend:hover {
  background-color: #b0b0b0;
}
.friends-container .friends-list ul {
  list-style-type: none;
  padding: 0;
}
.friends-container .friends-list ul li {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #D9D9D9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.friends-container .friends-list ul li:hover {
  background-color: #f3f3f3;
}
.friends-container .friends-list ul li .mini-profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.friends-container .friends-list ul li .friend-name {
  flex: 1;
  color: #374754;
  font-weight: bold;
}
.friends-container .friends-list ul li .friend-username {
  color: rgb(169, 168, 168);
  margin-left: auto;
}
.friends-container .friend-profile {
  flex: 2;
}
.friends-container .friend-profile h2 {
  color: #374754;
  margin-bottom: 10px;
}
.friends-container .friend-profile .friend-profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.friends-container .friend-profile #profile-details {
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.friends-container .friend-profile #profile-details p {
  color: #374754;
  margin: 10px 0;
}
.friends-container .friend-profile #profile-details button {
  background-color: #C9C9C9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 5px;
}
.friends-container .friend-profile #profile-details .remove-friend {
  background-color: #757ED1;
  margin-left: 0px !important;
}
.friends-container .friend-profile #profile-details .remove-friend:hover {
  background-color: #4f5ac4;
}

.friend-button {
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-left: 5px;
}

.accept-request {
  background-color: #28a745;
}

.reject-request {
  background-color: #dc3545;
}

.cancel-request {
  color: #374754;
}

.friend-button:hover {
  filter: brightness(0.8);
}

.profile-settings {
  padding: 20px;
}
.profile-settings h1 {
  color: #374754;
  padding-bottom: 10px;
}
.profile-settings p {
  border-bottom: 2px solid #C9C9C9;
  color: #374754;
  padding-bottom: 10px;
}
.profile-settings form {
  max-width: 600px;
}
.profile-settings form .formgroup1, .profile-settings form .formgroup2 {
  display: flex;
}
.profile-settings form .form-group, .profile-settings form .form-group1, .profile-settings form .form-group2 {
  margin-bottom: 20px;
}
.profile-settings form .form-group label, .profile-settings form .form-group1 label, .profile-settings form .form-group2 label {
  margin-top: 15px;
  margin-bottom: 5px;
  display: block;
  color: #374754;
}
.profile-settings form .form-group input[type=text], .profile-settings form .form-group input[type=email], .profile-settings form .form-group1 input[type=text], .profile-settings form .form-group1 input[type=email], .profile-settings form .form-group2 input[type=text], .profile-settings form .form-group2 input[type=email] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.profile-settings form .checkbox-group {
  display: flex;
  flex-wrap: wrap;
}
.profile-settings form .checkbox-group label {
  margin-right: 200px;
  color: #374754;
}
.profile-settings form button {
  background-color: #C9C9C9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.profile-settings form button:hover {
  background-color: #b0b0b0;
}

.document header {
  z-index: 1;
  width: 100%;
  padding: 0.5rem;
  background-color: #374754;
}
.document header .navbar {
  width: 100%;
  height: 70%;
}
.document header .navbar img {
  vertical-align: -35%;
}
.document header .article-path {
  width: 100%;
  height: 30%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
  color: #000;
}

li {
  list-style: none;
}/*# sourceMappingURL=main.css.map */