<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
        <title>BlueTemp</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/5fc8e4bcd5.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Seymour+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    </head>
    <body class="homepage">
        <!--  nav bar -->
        <header>
            <div class="logo">
                <a href="{{ url_for('public.homepage') }}">
                    <img src = {{ WEBSITE_LOGO }}>
                </a>
            </div>
            <div class="menu-btn">
                <span class="menu-btn__burger"></span>
            </div>
            <nav class="nav">
                <ul class="menu-nav">
                    <li class="menu-nav__item active">
                        <a href="/" class="menu-nav__link">
                            Home
                        </a>
                    </li>
                    <li class="menu-nav__item">
                        <a href="aboutus" class="menu-nav__link">
                            About
                        </a>
                    </li>
                    <li class="menu-nav__item">
                        <a href="contact" class="menu-nav__link">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="homepage_container">
        {% block content %}
        {% endblock %}
        </div>

        <!-- footer -->
        <footer>
            <div class="footerContainer">
                <div class="footerLeft">
                    <a href="/">{{ WEBSITE_NAME }}</a>

                </div>
                <div class="footerRight">
                    <a href="contact">Contact Us</a>
                    <a href="#privacy">Privacy Policy</a>
                </div>
            </div>
            <div class="footerBottom">
                <p>&copy; 2023 {{ WEBSITE_NAME }} All rights reserved.</p>
                <a href="#terms">Terms of Service</a>
            </div>
        </footer>
        <script type="text/javascript" src="{{ url_for('static', filename='js/homepage_base.js') }}"></script>
        <script>
            $(document).ready(function(){
                console.log("==============hello==============")
            })
        </script>
    </body>
</html>